<ul class="menu-items">
	<li class="menu-item">
		<a class="ba-links" routerink="">
			<i class="material-icons home white">home</i>
			<span class="menu-title">Home</span>
		</a>
	</li>
	<li class="menu-item">
		<a class="ba-links" routerink="">
			<i class="material-icons search white">search</i>
			<span class="menu-title">Search</span>
		</a>
	</li>
	<li class="menu-item">
		<a class="ba-links" routerink="">
			<i class="material-icons list white">list</i>
			<span class="menu-title">Watchist</span>
		</a>
	</li>
	<li class="menu-item">
		<a class="ba-links" routerink="">
			<i class="material-icons settings white">settings</i>
			<span class="menu-title">Settings</span>
		</a>
	</li>
</ul>
