<div class="row structure">
	<div class="sub-cat">
		<div></div>
		<span
			>{{ static.short_name }} ({{ static.yf_code }})
			<button class="button_off" id="watchlist"></button
		></span>
		<p class="larger">{{ static.bid | currency: "USD" }}</p>
	</div>
	<div class="sub-cat">
		<input name="search" placeholder="search" />
	</div>
</div>
<div class="row structure">
	<div class="sub-cat"></div>
	<div class="sub-cat"></div>
</div>
<div class="row structure">
	<div class="sub-cat"></div>
	<div class="sub-cat"></div>
</div>
