@import '../../dashboard.component.scss';

.structure {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 16px;
}

.sub-cat {
	background-color: black;
	width: 100%;
	min-height: 120px;
	padding: 16px;
}

.button_off {
	border-radius: 50%;
	color: green;
	background-color: black;
	border-color: black;
}

.button_on {
	border-radius: 50%;
	background-color: green;
	color: black;
	height: 29px;
}

.longer {
	min-height: 400px;
}

.larger {
	font-size: 24px;
}

@media screen and (min-width: 1060px) {
	.sub-cat {
		width: 49%;
	}
}
