<div class="row structure">
	<div class="sub-cat">
		<p>{{ static.short_name }} ({{ static.yf_code }})</p>
		<button>+</button>
		<p>{{ static.bid }}</p>
	</div>
	<div class="sub-cat">
		<input name="search" placeholder="search" />
	</div>
</div>
<div class="row structure">
	<div class="sub-cat">
		<h3>graph1</h3>
	</div>
	<div class="sub-cat">
		<h3>graph2</h3>
	</div>
</div>
<div class="row structure">
	<div class="sub-cat">
		<h3>graph3</h3>
	</div>
	<div class="sub-cat">
		<h3>graph4</h3>
	</div>
</div>
