@import '../../home.component.scss';

.pennapps_title {
    border: 1px blue;
    background: white;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
