@import '../../home.component.scss';

.ba_title {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-family: Sans-serif;
    align-items: baseline;
}

.ba_title__logo {
    border-bottom: 0.1rem solid rgb(239, 19, 29);
    transition: padding 0.2s ease-in-out 1s;
}

.ba_desktop__headerli {
    list-style-type: none;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

.Header_desktop__container {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.Header_desktop_nav {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    margin: 0px auto;
}

.Header_desktop_nav li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}
