@import '../../app.component.scss';

.home-components {
	background-color: blue;
}

a:hover {
    color: red;
    cursor: pointer;
}

.red {
	color: red
}

.ba_home__section {
    color: white;
}

.ba_home_body {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: $ba_global__gutter;
}
