<div class="container-fluid">
    <div class="card bg-secondary text-white">
        <h5 class="card-header"> Component: Shared</h5>
        <div class="card-body">
            <h2>Error/Not Available Shared Component: </h2>
            <div class="error">
                <span>Error Occurred</span>
                <div>

                </div>
            </div>
            <h2>404 Page Component: </h2>
            <h2>TypeAhead Component: </h2>
            <h2>Spinner Testing:</h2>
            <div>
            </div>
        </div>
    </div>
</div>