<div class="ba_container ba_centered_hor ba_centered_ver">
    <form class="ba_forms" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
        <div class="form-group">
            <div>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email"
                    [ngClass]="{'invalid': f.email.errors}" autocomplete="no">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="password" class="form-control" placeholder="password" formControlName="password"
                    [ngClass]="{'invalid': f.password.errors}">
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="password" class="form-control" placeholder="confirm password"
                    formControlName="confirmPassword" [ngClass]="{'invalid': f.confirmPassword.errors}">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="first name" formControlName="firstName"
                [ngClass]="{'invalid': f.firstName.errors}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="last name" formControlName="lastName"
                [ngClass]="{'invalid': f.lastName.errors}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">SIGN UP</button>
        </div>
    </form>
</div>