.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: white;
    stroke-width: 0.5px;
}

.line {
    fill: none;
    stroke: rgb(112, 192, 66);
    stroke-width: 1.5px;
}