@import "../../app.component.scss";

$sidebar-width: 200px;

.layout-container {
	display: flex;
	flex: 1;
	flex-direction: row;
	min-height: 88.4vh;
}

.scrollable {
	overflow-y: auto;
	overflow-x: 1;
	flex: 1;
}

.columns {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: stretch;
}

.main {
	padding-top: 16px;
	display: flex;
	left: $sidebar-width;
	flex-direction: 1;
	flex-direction: column;
	background-color: rgb(30, 30, 32);
}

.menu-sidebar {
	color: white;
	font-family: Open Sans, sans-serif;
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.25rem;
	width: $sidebar-width;
	left: 0;
}

.compacted {
	width: 52px;
}

.row {
	min-height: 160px;
	margin: 0px 16px 0px 16px;
}
