/* COLORS FOR USE. */
// // for backgrounds

$ba-darker-background: #000000;
$ba-dark-background: #1B2A32;
$ba-light-background: #485764;
$ba-button-hover: red;

// for typography
$ba-typography-white-color: #ffffff;
$ba-typography-dark-color: #8f9ba3;
$ba-typography-light-color:#E9ECEF;

// for alerts
$ba-alert-danger: #f54f47;
$ba-alert-warning: #fdd006;
$ba-alert-info: #60b515;

/* FONTS USED BY BA*/
$ba-default-fontSize: 16px;
$ba_global__gutter: 16px;

:host {
    color: white;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.4px;
    color: dimgray;

}

.red {
	color: red
}

.ba_app-font__lg {
    font-size: 24px
}

a {
    color: white !important;
}

a.ba-links:hover {
    color: red !important;
    cursor: pointer;
}

.ba-router_active {
    color: red !important;
}
.ba-mt-2 {
    margin-top: 16px !important;
}

.ba-mr-2 {
    margin-right: 16px !important;
}

// Margin around
.ba-ma-2 {
    margin: 16px 0px 16px 16px;
}