/* COLORS FOR USE. */
// // for backgrounds

$ba-darker-background: #151a30;
$ba-dark-background: #151a30;
$ba-light-background: #0d0d0e;
$ba-button-hover: red;

// for typography
$ba-typography-white-color: #ffffff;
$ba-typography-dark-color: #8f9ba3;
$ba-typography-light-color:#E9ECEF;

// for alerts
$ba-alert-danger: #f54f47;
$ba-alert-warning: #fdd006;
$ba-alert-info: #60b515;

/* FONTS USED BY BA*/
$ba-default-fontSize: 16px;
$ba_global__gutter: 16px;

.ba_container {
    border: 0.3px solid $ba-light-background;
    width: fit-content;
    background-color: $ba-light-background;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.ba-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:$ba-light-background;
    background-clip: border-box;
    border: 1px solid $ba-light-background;
    border-radius: .25rem;
}

:host {
    color: white;
}

.loading {
    color: white;
    padding-top: 80px;
}

.card-body {
    min-height: 300px;
}

.ba-raise_element {
    z-index: 3;
}

.ba_element__centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ba_centered_hor {
    margin: 0 auto;
}

.ba_centered_ver {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}


.red {
	color: #ff0000;
}

.ba_app-font__lg {
    font-size: 24px
}

a {
    color: white !important;
}

a.ba-links:hover {
    color: red !important;
    cursor: pointer;
}

.ba-router_active {
    color: red !important;
}
.ba-mt-2 {
    margin-top: 16px !important;
}

.ba-mr-2 {
    margin-right: 16px !important;
}

// Margin around
.ba-ma-2 {
    margin: 16px 0px 16px 16px;
}

.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
}

.avatar__img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    margin: 0;
}

.icon_align {
    vertical-align: sub;
}