<section class="ba_home__section">
    <span>
        <h1 class="ba_app-font__lg">Our Business</h1>
    </span>
    <span>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum risus vitae sem feugiat pharetra sit amet
        eget purus. Praesent eget lorem at lectus porttitor feugiat. Sed lacinia egestas dapibus. Etiam est purus, vestibulum
        suscipit laoreet nec, efficitur in leo. Aliquam vitae purus ut ante varius laoreet dapibus ac dui. Cras vel iaculis
        ipsum. Mauris quis vestibulum lorem. Nulla in feugiat elit. Nunc iaculis, velit sit amet elementum iaculis, magna sapien
        sodales massa, eget fermentum urna magna sit amet nunc.
        </p>
    </span>
</section>