<section class="ba_authentication">
	<div class="ba_auth-container">
		<ngb-tabset justify="fill" type="tabs">
			<ngb-tab title="SIGN IN">
				<ng-template ngbTabContent>
					<div class="ba_auth-forms__container">
						<app-login></app-login>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="SIGN UP">
				<ng-template ngbTabContent>
					<div class="ba_auth-forms__container">
						<app-signup></app-signup>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</section>
