@import '../../home.component.scss';

:host {
    min-height: 196px;
    width: 45%;
    background: #333333;
    border: 2px solid dimgray;
}

.ba_authentication {
    color: white;
}

.ba_auth-container {
    margin: 16px auto;
    width: 380px;
    background: red;
    min-height: 400px;
    text-align: center;
}