<section class="ba_authentication">
    <div class="ba_auth-container">
        <ngb-tabset justify="center">
            <ngb-tab title="Signin">
                <ng-template ngbTabContent>
                    <div>
                        <h1>Signin</h1>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Signup">
                <ng-template ngbTabContent>
                    <div>
                        <h1>Signup</h1>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</section>